<%- include('./partials/header') %>

<h3>Skills PST <%= time %></h3>

<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      <% }); %>
    </ul>
    
    <%- include('./partials/footer') %>